
.cabecalho{
    background: aquamarine;
}

.cabecalho div{
    position: relative;
    width: 1200px;
    height: 120px;
    margin: 0 auto;
}

.cabecalho nav{
    position: absolute;
    top: 50px;
    left: 700px;
}

.cabecalho h1{
    position: absolute;
    top: 50px;
}

.cabecalho a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.cabecalho li{
    display: inline;
    margin: 0 0 0 18px;
}

.principal div{
    width: 940px;
    height: 800px;
    margin: 0 auto;
}

.titulo-dois{
    font-size: 20px;
}

.titulo-tres{
    position: relative;
    text-align:center;
    top: -170px;
    font-size: 30px;
}

.titulo-quatro{
    position: relative;
    text-align: center;
    top: 0px;
    font-size: 30px;
}

.titulo-cinco{
    font-size: 20px;
}

.Referencias{
    position: relative;
    text-align: center;
    top: 0px;
    font-size: 30px;
}

img{
    width: 25%;
    height: auto;
    float: 20px 20px;
}

.container {
    margin: 20px;
}

.principal ul{
    list-style-type: disc;
    margin-left: 20px;
}

.principal li{
    margin-bottom: 5px;
}

.principal p2{
    position: relative;
    font-size: 20px;
    top: 50px;
    text-align: center;
}

.rodape{
    background: aquamarine;
}

.rodape div{
    position: relative;
    width: 1200px;
    height: 120px;
    margin: 0 auto;
}

.rodape nav{
    position: absolute;
    top: 50px;
    left: 850px;
}

.rodape a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.rodape li{
    display: inline;
    margin: 0 0 0 18px;
}

.rodape p{
    position: absolute;
    top: 50px
}
